
<div *ngIf="pos">
  <h4>LIST OF THE POSs AVAILBLE</h4>
  <table datatable class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>SERIALNUMBER</th>
            <th>MAKE</th>
            <th>OWNER</th>
            <th>CREATED ON</th>
            <th>ACTION</th>
        </tr>
        </thead>
    <tbody>
        <tr *ngFor="let table of pos">
          <td class="hidden">{{table.id}}</td>
          <td>{{table.serialNumber}}</td>
          <td>{{table.make}}</td>
          <td>{{table.owner}}</td>
          <td>{{table.date}}</td>
          <td >
                <div class="buttons">
                     <button class="btn btn-primary" ng-click="editPos(table.id)" [routerLink]="['/forms',table.id]" routerLinkActive="router-link-active" >Edit</button>
                     <button class="btn btn-danger" (click)="deletePos(table.id)">Delete</button>
                </div> 
            </td>
          
        </tr>
        </tbody>
  </table>
</div>
